.portal-container {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  padding: 20px;
}

.portal-header {
  text-align: center;
  margin-bottom: 40px;
  height: auto;
}

.adharverfiy-div {
  height: 100%;
  background: var(--gray-bg);
}

.icon-circle {
  width: 60px;
  height: 60px;
  background: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 10px;
}
.icon-circle i {
  color: var(--white);
  font-size: 28px;
}

.input-wrapper {
  position: relative;
}
.input-wrapper input {
  width: calc(100% - 52px);
  padding: 12px 40px 12px 12px;
  border-radius: 4px;
  border: 1px solid var(--gray-light);
}
.input-wrapper .input-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  color: var(--gray-color);
}

.fetching-button {
  width: 100%;
  background: var(--primary-color);
  color: var(--white);
  padding: 12px;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.fetching-button:hover {
  background: var(--green-color);
}
.fetching-button:disabled {
  background: var(--gray-color);
  cursor: not-allowed;
}

.secure-text {
  text-align: center;
  margin-top: 10px;
  color: var(--gray-color);
  font-size: 14px;
}

.results h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.results h2 i {
  margin-right: 8px;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .user-card-adhar {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .test-item {
    flex-direction: column;
    /* text-align: center; */
  }
}

.otp-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 37, 37, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.otp-popup-content {
  background: var(--white);
  padding: 20px 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.otp-popup-content input {
  width: calc(100% - 40px);
  padding: 10px;
  margin: 15px 0;
  border-radius: 4px;
  border: 1px solid var(--gray-color);
  /* text-align: center; */
  font-size: 14px;
}

.otp-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.otp-buttons button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.otp-buttons button:first-child {
  background: var(--gray-light);
}

.otp-buttons button:last-child {
  background: var(--primary-color);
  color: var(--white);
}

@media (max-width: 600px) {
  .portal-header h1 {
    font-size: 24px;
    margin: 6px 0;
  }

  .portal-header p,
  .otp-popup-content p {
    font-size: 14px;
    margin: 3px 0px;
  }

  .card-adhar h2,
  .otp-popup-content h2 {
    font-size: 16px !important;
  }

  .card-adhar {
    padding: 25px !important;
  }

  .otp-popup-content {
    width: 260px;
  }
}
