.user-details {
  width: 50%;
  text-align: left;
}

.card-detialls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.download-btn h6 {
  margin: 0px;
  font-size: 16px;
}

.test-item p {
  margin: 0px !important;
  color: var(--gray-color);
  font-size: 14px;
}

.test-item h3 {
  margin: 6px 0;
}

.normal-range-dashboard {
  color: var(--success-color) !important;
  margin: 4px 0 !important;
  font-weight: 500;
  font-size: 14px;
  justify-content: center;
}

.item-content {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.test-item1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item-content strong {
  display: flex;
  gap: 4px;
  /* align-items: end; */
}

.item-content p {
  font-size: 16px;
  color: var(--black-color);
}

.icon-latest-dashbaord {
  font-size: 26px;
}

.card-adhar p {
  margin: 10px 0px !important;
  font-size: 16px;
}

.card-adhar {
  background: var(--white);
  border-radius: 12px;
  padding: 40px;
  margin-bottom: 20px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.card-adhar h2 {
  font-size: 24px;
}

.camera-record {
  display: flex;
  gap: 10px;
  color: var(--gray-color);
  align-items: center;
}

.icon-camera {
  color: var(--primary-color);
}

.user-card-adhar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #dbeafe;
  margin-right: 15px;
}
.status-badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}
.status-success {
  background: var(--success-bg);
  color: var(--success-color);
  width: max-content;
}

.status-warning {
  color: var(--danger-color);
}

.test-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  margin-bottom: 10px;
  background: var(--gray-light);
}
.test-item strong {
  align-items: center;
  font-size: 18px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;
}

.image-card-adhar img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.image-card img {
  width: 100%;
  /* max-width: 300px; */
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px;
}

.image-card-adhar,
.image-card {
  width: 300px;
  max-width: 100%;
}

.image-card-adhar p,
.image-card p {
  padding: 8px;
  text-align: center;
  background: var(--white);
  border: 1px solid var(--gray-light);
  margin: 0px !important;
  border-top: none;
}

.download-btn {
  background: var(--green-color) !important;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: var(--white);
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
}
.download-btn:hover {
  background: var(--success-color) !important;
  cursor: pointer;
}

.portal-footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: var(--gray-color);
}

.image-grid-card {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.health-card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.health-card {
  width: calc(100% - 40px);
  /* height: max-content; */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 15px;
  font-size: 14px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.health-card {
  border: 2px solid var(--black-color);
}

.health-card h3 {
  font-size: 24px;
  margin: 4px 0;
}

.health-card p {
  margin: 6px 0 !important;
}

.card-title {
  margin: 20px 0px;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--black-color);
}

.flex-card {
  display: flex;
  gap: 15px;
  align-items: center;
}

.mark-icon {
  font-size: 30px;
}

.logout {
  text-align: end;
  margin: 10px 0px;
}

.logout button {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.dashboard-portal-container {
  max-width: 1200px;
  margin: auto;
  height: auto;
  padding: 20px;
}

@media (max-width: 800px) {
  .health-card-container {
    flex-direction: column;
  }
}
