.account-card {
  margin: 10px;
  background: var(--white);
  border-radius: 1rem;
  overflow: hidden;
  width: 40%;
}

.card-main {
  width: 100%;
}

.account-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1.5rem; /* p-6 */
}

.account-avatar {
  width: 6rem; /* w-24 */
  height: 6rem; /* h-24 */
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* shadow-md */
}

.account-name {
  margin: 1px 0px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--gray-color);
}

.account-email {
  font-size: 0.875rem; /* text-sm */
  color: var(--gray-color);
  margin: 0px;
}

.account-info label,
.account-info p {
  display: flex;
  gap: 30px;
  width: 70%;
  margin: 8px 0;
  text-align: left;
  justify-content: space-between;
}

.account-info {
  /* margin-top: 1rem; */
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.account-info input {
  padding: 4px 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.account-info p {
  margin: 6px 0;
}

.account-info span {
  font-weight: 500; /* font-medium */
}

.status {
  font-weight: 600; /* font-semibold */
}

.status.active {
  color: var(--green-color);
}

.status.inactive {
  color: var(--rejected-color);
}

.account-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.account-actions {
  display: flex;
  gap: 15px;
  margin: 15px 0px;
}

.account-actions button {
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

/* First button (Edit/Save) */
.account-actions button:first-child {
  background-color: var(--primary-color);
  color: var(--white);
}

/* Second button (Cancel) */
.account-actions button:last-child {
  background-color: var(--gray-light);
  color: var(--black-color);
}

@media (max-width: 660px) {
  .account-card {
    width: calc(100% - 20px);
  }

  .account-info label,
  .account-info p {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .account-card {
    width: 70%;
  }
}
