.change-password-container {
  max-width: 500px;
  margin: 20px;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.change-password-container h2 {
  /* text-align: center; */
  margin-bottom: 20px;
  color: #333;
}

.change-password-form .input-group {
  margin-bottom: 20px;
}

.change-password-form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.password-input {
  position: relative;
}

.password-input input {
  width: calc(100% - 40px);
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  border-radius: 4px;
  border-radius: 4px;
}

.toggle-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .change-password-container h2 {
    font-size: 14px;
  }

  .password-input input {
    padding: 7px 13px;
    width: calc(100% - 26px);
  }

  .submit-btn {
    padding: 7px;
  }
}
