/* Container */
.records-container {
  margin-top: 20px;
  overflow-x: auto;
}

.test-table {
  width: 100%;
  border-collapse: collapse;
  background: var(--white);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.test-table th,
.test-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid var(--gray-bg);
  font-size: 14px;
}

.test-table th {
  background: var(--gray-color);
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  font-size: 13px;
}

.test-table td button {
  margin-right: 6px;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.test-table td button:first-child {
  background: var(--primary-color);
  color: var(--white);
}

.test-table td button:first-child:hover {
  background-color: var(--primary-color);
}

.test-table td button:last-child {
  background: var(--danger-color);
  color: var(--white);
}

.test-table td button:last-child:hover {
  background: var(--danger-color);
}

.no-data {
  text-align: center;
  color: var(--gray-color);
  padding: 20px;
  font-size: 15px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(37, 37, 37, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: var(--white);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 95%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-box h3 {
  margin-bottom: 15px;
  font-size: 18px;
  margin: 2px 0;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.modal-box input {
  width: calc(100% - 20px);
  margin-bottom: 6px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--gray-color);
}

.modal-box select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 12px;
  border: 1px solid var(--gray-color);
}

.modal-actions button {
  padding: 5px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: var(--white);
}

.modal-actions button:first-child {
  background: var(--primary-color);
}

.modal-actions button:last-child {
  background: var(--danger-color);
}

.model-box .add-option {
  padding: 5px;
  background: var(--primary-color);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.delete-btn-action {
  color: var(--danger-color);
  cursor: pointer;
}

.addoption {
  background-color: var(--gray-color);
  border: none;
  color: var(--white);
  padding: 5px;
  cursor: pointer;
}

.delete-btn {
  background: var(--primary-color);
  color: var(--white);
  padding: 6px 15px;
  cursor: pointer;
}

.delete-btn:hover {
  background: var(--danger-color);
  cursor: pointer;
}

@media (max-width: 500px) {
  .modal-box {
    width: 300px;
  }

  .test-table th,
  .test-table td {
    padding: 9px;
  }

  .test-table th {
    font-size: 12px;
  }

  .test-table td {
    font-size: 10px;
  }
}
