.test-records {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report-header h2 {
  font-size: 18px;
  color: var(--black-color);
  font-weight: 600;
}

.actions-action {
  display: flex;
  gap: 10px;
}

.search-box {
  position: relative;
}

.search-box input {
  padding: 7px 15px;
  border-radius: 4px;
  border: 1px solid var(--gray-light);
  font-size: 14px;
}

.search-box .search-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 14px;
  color: var(--gray-light);
}

.filter-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: var(--primary-color);
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
}

.filter-btn:hover {
  background: var(--primary-color);
}

.records-container {
  margin: 10px 0;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.records-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.record-item {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}

.record-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aadhaar {
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  color: var(--primary-color);
}

.status {
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
}

.record-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 14px;
  color: var(--gray-color);
}

.record-info p {
  margin: 8px 0px 0px 0px;
  font-size: 15px;
  color: var(--black-color);
}

.record-footer {
  margin-top: 10px;
}

.view-btn {
  font-size: 14px;
  color: var(--gray-color);
  background: none;
  border: none;
  cursor: pointer;
}

.view-btn:hover {
  color: var(--primary-color);
}

.filter-subadmin {
  display: flex;
  align-items: center;
  gap: 3px;
}

@media (max-width: 600px) {
  .actions-action {
    gap: 10px !important;
  }

  .action-btn {
    font-size: 12px;
  }

  .actions {
    padding: 2px 0px !important;
  }
}
