.label-subadmin {
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-color);
}

.address p {
  font-size: 16px;
}

.user-info-subadmin {
  display: flex;
  align-items: start;
  gap: 36px;
  justify-content: space-between;
}

.subadmin-details {
  display: flex;
  /* align-items: center; */
  gap: 40px;
  padding: 40px;
  background-color: var(--gray-light);
  border-radius: 8px;
}

.assignkit-div {
  margin: 7px 0px;
  /* display: flex; */
  gap: 14px;
}

.assignkit-div button,
.assign-kit {
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  /* margin-right: 10px; */
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--primary-color);
  color: var(--white);
}

.action-button-subadmin {
  display: flex;
  gap: 10px;
  /* margin-top: 5px; */
}

.action-button {
  display: flex;
  gap: 10px;
}

@media (max-width: 992px) {
  .user-info-subadmin {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .subadmin-details {
    width: calc(100% - 40px);
    padding: 20px;
    flex-direction: column;
    gap: 10px;
  }

  .card-testdetails {
    padding: 20px;
  }
}
